#chon_radio label{
    width: 13%;
    }
 #congvan{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
    font-size: 1.5rem; */
    font-size: 20px;
     color: #333;
     text-transform: uppercase;
    padding: 10px 10px 0px 10px;
    border: 1px solid #ececec;
     background: #ececec;
     color: #fff;
    
  }
 #congvan li{
  display: inline-block;
  background: #053785;
 color: white;
   border-radius: 5px 5px 0 0;
  font-size: 18px;
  padding: 6px 24px;
 }
 #congvan li.active{
     background: #840101;
 }
 .tieu_de{
    background: #f1f1f1;
    padding: 4px 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
 }
 
 .cot_trai{
    border-right:1px dotted #CCC;
     
 }
 .dau_cham{
    
    border-bottom:1px dotted #CCC; 
 }
 .cot_trai .tite{
    padding: 0 auto ;
    margin:0 auto;
    font-size: 13px;
 }
 .tieu_de i{
    color: #ff5e00;
    margin-right: 4px;
 }
 .cac_thuoctinh{
    margin-top: 10px;
 }
 .cac_thuoctinh li{
    display: inline-block;
    color: #8c8989;
    padding: 4px;
 }
 .cac_thuoctinh li i{
    margin-right: 2px;
    color: #ababab;
 }
 .cot_phai{
    color: #006600;
 }
 .trai{
    float: left;
 }
 .phai{
    float: right;
 }
 .bakhoiduoi{
   height: 262px;
   width: 390px;
    background: url('../img/img_vb.png') no-repeat;
    background-size: 100% 100%;
    padding: 15px;
 }
 .bakhoiduoi .tieude_khoi{
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px 0;
    
 }
 .gachduoi{
    border-bottom: 2px solid #ffffff;
 }

.dong_khoi i{
    margin-left: 30px;
    margin-right: 5px;
    color: red;
}
.benphai{
    float: right;
}
.dong_khoi{
    font-size: 16px;
    height: 50px;
}
#hoso_luutru #tuychon{
    border-radius: 4px 0 0 4px;
    height: 35px;
    width: 20%;
    font-size: 14px;
    float: left;
    padding-left: 10px;
}
#hoso_luutru input{
    height: 35px;
    width: 80%;
    float: right;
    padding-left: 10px;

    
}
.mauvang{
    background: #dc5917;
    text-align: left !important
}
.menu_tap li{
    width: 19.5% !important;
    margin-right: 0.5% !important;
    background: #f3f2f2;
    border-radius: 10px 10px 0 0;
}
.menu_tap li.active a{
    background-color: #840101 !important;
    color: white !important;
    border-radius: 10px 10px 0 0;

}
.menu_tap li a{
    text-align: center;
    font-size: 16px;
}
.nav-tabs {
    border-bottom: none !important; 
}
.chitiet_noidung{
    width: 98%;
    margin: 0 auto;
    padding: 0 auto;
    
}
.hienthi_noidung{
    width: 99.5% !important;
    margin-top:-0.7% !important; 
    min-height: 300px;
    max-height: 400px;
    background: #ebebea;
    border-radius: 0px 0px 10px 10px;
}

.nhaquanly .ba_khoi {
    padding: 0px 10px;
}

.box_th_khancap {
    padding: 0px 0px;
    min-height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
}
.box_th_khancap ul li img {
    margin-top: 10px;
    /*max-width: 100px;*/
    /*height: 50px !important;*/
    border-radius: 5px;
}
section.baocaotonghop {
    margin-top: -75px;
}
.title_message_news {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.lich-cv a{
    background: #EF4123;
    border: transparent;
}
}
.van-ban a{
    background: #F58220;
    border: transparent;
}
}
.hoso-tailieu a{
    background: #029ED3;
    border: transparent;
}
#chitet_nhiemvu {
    border: 1px solid #fff;
    padding: 10px;
    background: #fff;
}
.item_bc{
    width: 100% !important;
    margin:auto !important;
}

.box_report span {
    position: absolute;
    bottom: 28px;
    right: 10px;
}
.box-fix h2 span {
    float: right;
     position: relative; 
    display: inline-block;
    width: 50%;
    font-size: 20px;
    text-align: center;
}